[submodule "serial-utility"]
	path = server-examples/serial-utility
	url = https://gitlab.com/hololinked-examples/serial-utility.git
[submodule "oceanoptics-spectrometer"]
	path = server-examples/oceanoptics-spectrometer
	url = https://gitlab.com/hololinked-examples/oceanoptics-spectrometer.git
[submodule "client-examples/node-wot/spectrometer-smartphone"]
	path = client-examples/node-wot/spectrometer-smartphone
	url = https://gitlab.com/node-clients/spectrometer-smartphone.git
[submodule "client-examples/oceanoptics-spectrometer-desktop-app"]
	path = client-examples/oceanoptics-spectrometer-desktop-app
	url = https://gitlab.com/desktop-clients/oceanoptics-spectrometer-desktop-app.git
[submodule "server-examples/phymotion-controllers"]
	path = server-examples/phymotion-controllers
	url = https://gitlab.com/hololinked-examples/phymotion-controllers.git
[submodule "client-examples/node-wot/--force"]
	path = client-examples/node-wot/--force
	url = https://gitlab.com/node-clients/phymotion-controllers-app.git
[submodule "client-examples/node-wot/phymotion-controllers-app"]
	path = client-examples/node-wot/phymotion-controllers-app
	url = https://gitlab.com/node-clients/phymotion-controllers-app.git
